#menu-holder {
    height: 500px;
    width: 300px;
    position: relative;
    margin: auto;
}

#title-holder { 
    text-align: center;
    font-size: 60px;
    margin: auto;
    width: 75%;
    position: relative;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    color: #47fff5;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #56f3ff,
			0 0 30px #56f3ff, 0 0 40px #56f3ff, 0 0 55px #56f3ff, 0 0 75px #56f3ff;
}

.button {
    box-shadow: 2px 5px 3px black;
    font-size: 50px;
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
    top: 90px;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid #47fff5;
    color: #47fff5;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

#start-button-nos {
    margin-top: 20px;
}